
    <h1>Galeriye yeni resim ekle</h1>

    {{ include('admin/image/_form.html.twig') }}
{% for image in imagelist %}
    <img src="{{ asset('uploads') }}/images/{{ image.image }}" height="200">


    <a href="{{ path('admin_image_del',{'id':image.id,'ppid':image.productid}) }}" onclick="return confirm('Silinecek, Emin misiniz?');" class="btn bg-red waves-effect">
        <span>SİL</span>
    </a>

{% endfor %}